.cuhk-color {
    color: #633869 !important;
}

.li-not-last {
    margin-bottom: 1em;
}

.floating-button {
    position: fixed;
    z-index: 1000000;
    right: 1em;
    bottom: 1em;
}

.floating-button .fa-circle {
    text-shadow: 0px 0px 8px #000;
}

a:hover .cuhk-color {
    color: #8F7792 !important;
}

.rwd-table {
    min-width: 100%;
}

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: inline-block;
    /*float: left;*/
    width: 100%;
}

.rwd-table tr:last-child > td:last-child {
    display: none !important;
}

.rwd-table td:before {
    content: attr(data-th);
    float: left;
    font-weight: bold;
    width: 6em;
    display: inline-block;
}

.rwd-table td:last-child:before {
    display: none;
}

@media (min-width: 768px) {
    .rwd-table td:before {
        display: none;
    }

    .rwd-table td {
        width: initial;
    }

    .rwd-table th, .rwd-table td {
        display: table-cell;
        padding: 0.25em 0.5em;
    }
}

.notice {
    cursor: pointer;
}