<!DOCTYPE html>
<html lang="en">

<head>
    <title>Demo</title>
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/mdui.min.css') }}">
</head>

<body class="mdui-theme-primary-green">
<div class="mdui-container-fluid">
    <header class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-color-theme-800 mdui-toolbar">
            <a href="javascript:;" class="mdui-btn mdui-btn-icon">
                <i class="mdui-icon material-icons">menu</i>
            </a>
        </div>
    </header>

    <button class="mdui-fab mdui-ripple mdui-fab-fixed mdui-color-theme">
        <i class="mdui-icon material-icons">add</i></button>
</div>

<script src="{{ url_for('static', filename='js/mdui.min.js') }}"></script>
</body>
</html>